{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Netflix | Login</title>
  </head>

  <body>
    <div class="background-netflix">
      <img src="{% static 'img/Netflix-4.jpg' %}" alt="Netflix background" />
    </div>
    <div class="container">
      <div class="container-login">
        <div class="login">
          <ul>
            <li><h1>Kayıt ol</h1></li>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <li><input type="text" name="username" placeholder="Kullanici Adi" /></li>
                <li><input type="text" name="email" placeholder="Eposta veya telefon numarasi" /></li>
                <li><input type="password" name="password" placeholder="Parola" /></li>
                <li><button class="btn-login">Kayıt Ol</button></li>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
